<%- include('../partials/header.ejs') %>
<div class="card confirm-password-card text-center">
  <h2 class="success-title">🔒 Password Updated!</h2>
  <div class="success-message">
    Your password has been updated successfully, <strong><%= user.first %></strong>.<br>
    Please use your new password next time you log in.
  </div>
  <a href="/login" class="btn btn-primary mt-1">
    🔑 Go to Login
  </a>
</div>
<%- include('../partials/footer.ejs') %>