
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In</title>
</head>
<body>
  <%- include('../partials/header') %>
  <div class="card">
<h2>Login</h2>
<form action="/sign-in" method="POST">
  <label>Email:</label>
  <input type="email" name="email" required>
  <label>Password:</label>
  <input type="password" name="password" required>
<% if (error) { %>
  <p class="error-message"><%= error %></p>
<% } %>
  <button type="submit">Login</button>
  <label>Still not registered?</label>
  <a href="/sign-up">Sign Up Now</a>
</form>
</div>
<%- include('../partials/footer') %>
</body>
</html>

