<%- include('../partials/header.ejs') %>
<div class="card thanks-card text-center">
  <h2 class="success-title">🎉 Thanks for Signing Up!</h2>
  <p class="thanks-message">
    Your account has been created successfully.<br>
    You can now log in and start exploring our book shop.
  </p>
  <a href="/sign-in" class="btn btn-primary mt-1">
    🔑 Sign In Now
  </a>
</div>
<%- include('../partials/footer.ejs') %>