<!DOCTYPE html>
<html>
<head>
  <title>Book Shop</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>📚 My Book Shop</h1>
    <nav>
      <a href="/">Home</a> |
      <a href="/books">Books</a> |
      <a href="../orders/all.ejs">Cart</a>
    </nav>
  </header>
  <main>
