<!DOCTYPE html>

<html>
<head>
  <title>Utopian Book Shop</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/authorFieldsToggle.js"></script>
</head>
<body>
  <header>
    <h1>📚 Utopian Book Shop</h1>
    <nav>
      <a href="/">Home</a> |
      <a href="/books">Books</a> |
      <a href="/authors">Authors</a> |
      <a href="/orders/">All Orders</a> |
      <a href="/orders/cart">Cart (<%= session.cart ? session.cart.length : 0 %>)</a> |

      <% if (!session.user) { %>
      <a href="/sign-in">Login</a> |
      <a href="/sign-up">Register</a> | 
      <% } %>

      <% if (session.user) { %>
             <a href="/sign-out">Sign Out</a> |
             <a href="/<%= session.user.role %>s/profile">My Profile</a> | 
      <% } %>


    </nav>
  </header>
  <main>
