
<!DOCTYPE html>
<html>
<head>
  <title>Utopian Book Shop Home</title>
</head>
<body>
<%- include('partials/header') %>
  <div class="card">

  <h2>Welcome to Utopian BookShop!</h2>
  <p>Find your favorite books here.</p>
    </div>
<%- include('partials/footer') %>

</body>
</html>




