<%- include('../partials/header.ejs') %>
      <div class="card">

<h2>Dear <%= user.first %> Your Order Number <%= newOrder._id %> has been deleted!</h2>
      </div>
<%- include('../partials/footer.ejs') %>